# Dependencies
node_modules/
.pnp
.pnp.js

# Prisma
prisma/migrations/
.env

# TypeScript
*.tsbuildinfo
dist/
build/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

/generated/prisma

/generated/prisma

/generated/prisma
